{% load static %}

<footer>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Contáctame</h5>
            <div class="d-flex justify-content-center">
                <div>
                    <a
                        href="https://www.linkedin.com/in/maribel-pilquinao/"
                        target="_blank"
                        ><img
                            class="icon-rrss"
                            src="{% static 'link.png'%}"
                            alt=""
                    /></a>
                </div>
                <div>
                    <a
                        href="https://x.com/Maribel_alej"
                        target="_blank"
                        ><img
                            class="icon-rrss"
                            src="{% static 'x.png'%}"
                            alt=""
                    /></a>
                </div>
                <div>
                    <a
                        href="https://www.instagram.com/maribelalejandrap/"
                        target="_blank"
                        ><img
                            class="icon-rrss"
                            src="{% static 'instagram.png'%}"
                            alt=""
                    /></a>
                </div>
                <div>
                    <a
                        href="https://github.com/MaribelPilquinao"
                        target="_blank"
                        ><img
                            class="icon-rrss"
                            src="{% static 'github.png'%}"
                            alt=""
                    /></a>
                </div>
            </div>
        </div>
        <div class="card-footer text-body-secondary">By Maribel Pilquinao</div>
    </div>
</footer>
